$primary : #096a10;
$secondary : #0a7d12;
$accent : #4CAF50;

$dark : #011e03;
$dark-page : #011402;

$positive : #43A047;
$negative : #c11a1a;
$info : #00ACC1;
$warning : #f6ff00;

$primary-dark : #06620c;
$secondary-dark : #026e0a;
$accent-dark : #388E3C;

$positive-dark : #2E7D32;
$negative-dark : #B71C1C;
$info-dark : #00838F;
$warning-dark : #FFA000;
